PolicyManagementSystem/PMS/src/conf/xml-resources/web-service-references/PMSWebservice/wsdl/localhost_8080/PMS/PMSWebservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://PMS_Webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://PMS_Webservice/" name="PMSWebservice">
<types>
<xsd:schema>
<xsd:import namespace="http://PMS_Webservice/" schemaLocation="http://localhost:8080/PMS/PMSWebservice?xsd=1"/>
</xsd:schema>
</types>
<message name="checklogin">
<part name="parameters" element="tns:checklogin"/>
</message>
<message name="checkloginResponse">
<part name="parameters" element="tns:checkloginResponse"/>
</message>
<message name="getpolicy_plan">
<part name="parameters" element="tns:getpolicy_plan"/>
</message>
<message name="getpolicy_planResponse">
<part name="parameters" element="tns:getpolicy_planResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getpolicy">
<part name="parameters" element="tns:getpolicy"/>
</message>
<message name="getpolicyResponse">
<part name="parameters" element="tns:getpolicyResponse"/>
</message>
<message name="update_password">
<part name="parameters" element="tns:update_password"/>
</message>
<message name="update_passwordResponse">
<part name="parameters" element="tns:update_passwordResponse"/>
</message>
<portType name="PMSWebservice">
<operation name="checklogin">
<input wsam:Action="http://PMS_Webservice/PMSWebservice/checkloginRequest" message="tns:checklogin"/>
<output wsam:Action="http://PMS_Webservice/PMSWebservice/checkloginResponse" message="tns:checkloginResponse"/>
</operation>
<operation name="getpolicy_plan">
<input wsam:Action="http://PMS_Webservice/PMSWebservice/getpolicy_planRequest" message="tns:getpolicy_plan"/>
<output wsam:Action="http://PMS_Webservice/PMSWebservice/getpolicy_planResponse" message="tns:getpolicy_planResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://PMS_Webservice/PMSWebservice/helloRequest" message="tns:hello"/>
<output wsam:Action="http://PMS_Webservice/PMSWebservice/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getpolicy">
<input wsam:Action="http://PMS_Webservice/PMSWebservice/getpolicyRequest" message="tns:getpolicy"/>
<output wsam:Action="http://PMS_Webservice/PMSWebservice/getpolicyResponse" message="tns:getpolicyResponse"/>
</operation>
<operation name="update_password">
<input wsam:Action="http://PMS_Webservice/PMSWebservice/update_passwordRequest" message="tns:update_password"/>
<output wsam:Action="http://PMS_Webservice/PMSWebservice/update_passwordResponse" message="tns:update_passwordResponse"/>
</operation>
</portType>
<binding name="PMSWebservicePortBinding" type="tns:PMSWebservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checklogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getpolicy_plan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getpolicy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_password">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PMSWebservice">
<port name="PMSWebservicePort" binding="tns:PMSWebservicePortBinding">
<soap:address location="http://localhost:8080/PMS/PMSWebservice"/>
</port>
</service>
</definitions>